/**
*Theme Name: LightWord
*/

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;vertical-align:baseline;background:transparent;margin:0;padding:0;}


/* BASIC */
*:focus{
  outline:none;
}
.clear{
	clear:both;
}
body{
	background-color:#2C2C29;
	font-family:Tahoma;
	font-size:11px;
	color:#2C2C29;
}
p{
	font-size:1.2em;
	padding:2px;
	margin:1px 0 15px;
}
a{
	color:#807D7A;
}
h2{
	background-color:#FFF;
	border-bottom:1px solid #DCDCDB;
	letter-spacing:-1px;
	font-size:24px;
	padding-bottom:3px;
	font-weight:400;
	margin:10px 0 3px 0;
	font-family:Vera, Helvetica, Georgia;
}
h3#reply-title{
	background:transparent;
	border-bottom:1px solid #DCDCDB;
	letter-spacing:-1px;
	font-size:24px;
	padding-bottom:3px;
	font-weight:400;
	margin:10px 0 3px 0;
	font-family:Vera, Helvetica, Georgia;
}
h2 a{
	font-weight:700;
	border:0;
	text-decoration:none;
	color:#2C2C29;
	display:block;
}
h3{
	font-size:1.8em;
	margin: 15px 0 15px;
}
h4{
	font-size:1.5em;
	margin: 15px 0 15px;
}
h5{
	font-size:1.4em;
	margin: 15px 0 15px;
}
h6{
	font-size:1.3em;
	margin: 15px 0 15px;
}
hr{
	color:#DCDCDB;
	background-color:#DCDCDB;
	height:1px;
	border:0px;
}
pre{
	width:100%; 
	white-space:pre-wrap;
}
dl{
	padding:.4em 0 1em;
}
dt{
	text-decoration:underline;
	font-weight:bold;
}

/* LAYOUT */

#wrapper{
	margin:0 auto;
	text-align:left;
}
h1#logo,
h1#logo a{
	font-family:Vera, Helvetica,Georgia;
	padding:0;
	margin-top:7px;
	font-size:36px;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
}
h1#logo small{
	color:#FFF;
	font-size:12px;
	display:block;
	margin:-2px 2px 1px;
	height:20px;
}
h1#logo small a{
	font-size:12px;
	border-bottom:1px solid #FFF;
}
#rss-feed{
	float:right;
	width:190px;
	font-weight:700;
	position:relative;
	left:7px;
	color:#FFF;
	text-decoration:none;
}
#header{
	height:113px;
}
#top{
	z-index:1;
	cursor:pointer;
	display:block;
	margin-left:5px;
	position:relative;
	bottom:-55px;
	margin-top:-55px;
	min-height:56px;
}
#top_cufon{
	
	display:block;
	margin-left:5px;
	position:relative;
	bottom:-55px;
	margin-top:-55px;
	min-height:56px;
}
#top_cufon small{
	width:600px; 
}
#top strong{
	display:none;
}
#top_bar{
	padding:72px 3px 0 20px;
}
#search-block-form{
	float:right;
	width:208px;
	height:26px;
	margin-right:5px;
	background:url(../images/searchbox.png) no-repeat;
	position:relative;top:1px;
}
#search-block-form .form-submit{
	display: none;
}
#search-block-form input[type=text] {
	border:1px solid #000;
	float:left;
	border:0;
	width:154px;
	background:none;
	color:#ACACAB;
	margin:4px 0 0 4px;
}
#header #s{
	border:1px solid #000;
	float:left;
	border:0;
	width:154px;
	background:none;
	color:#ACACAB;
	margin:4px 0 0 4px;
}
#header #go{
	float:right;
	width:25px;
	height:26px;
	background-color:transparent;
	border:0px;
	cursor:pointer;
}
#content {
	padding:15px 10px 15px 15px;
	margin:-7px 0 0 7px;
	z-index:20 !important;
	position:relative;	
}
#content-full{
	padding:15px 10px 15px 15px;
	margin:-7px 0 0 7px;
	z-index:20 !important;
	position:relative;	
}
#content h2{
	font-weight:700;
	border:0;
	text-decoration:none;
	color:#2C2C29;
	display:block;
}
#content-full h2{
	font-weight:700;
	border:0;
	text-decoration:none;
	color:#2C2C29;
	display:block;
}
#content h2 a{
	cursor:pointer;	
}
#content-full h2 a{
	cursor:pointer;	
}
#content-body{
	display:inline-block;
	min-height:300px;
	height:auto !important;
	margin-right:25px;
}
#content-body-full{
	display:inline-block;
	min-height:300px;
	height:auto !important;
	margin-right:25px;
}
* html #content-body{
	float:left;
	margin-right:24px;
	}
* html #content-body-full{
	float:left;
	margin-right:24px;
	}
*+html #content-body{
	float:left;
	margin-right:28px;
}
*+html #content-body-full{
	float:left;
	margin-right:28px;
}
#footer{
	height:8px;
}
#footer .text{
	color:#8D837B;
	font-size:10px;
	display:block;
	padding:12px;
}
#footer .top{
	position:relative;
	right:5px;
	top:-5px;
	display:inline;
	float:right;
}
* html #footer .top{
	top:-20px;
}
+html #footer .top{
	top:-20px;
}
#footer em, #footer em a{
	font-style:normal;
	color:#41413E;
}

/* FRONT MENU */

ul#front_menu{
	float:left;
	text-transform:uppercase;
	position:relative;
	top:-4px;
	 z-index: 50
}
* html .expand{
	margin-top:-13px;
}
*+html .expand{
	margin-top:-13px;
}
#front_menu li{
	list-style:none;
	float:left;
	margin-right:4px;
	 display: block;
}
* html #front_menu li{
	height:36px;
	display:inline;
}
#front_menu li a{
	height:36px;
	display:block;
	background:url(../images/nav.png) no-repeat left top;
	padding-left:15px;color:#2C2C29;
	font:700 .88em/26px Arial, Helvetica, sans-serif;
	text-decoration:none;
	cursor:pointer;
}
#front_menu li a span{
	height:36px;
	display:block;
	background:url(../images/nav.png) no-repeat right top;
	line-height:36px;
	padding-right:15px;
}
#front_menu li a:hover,
#front_menu li a.s{
	background-position:left bottom;
}
#front_menu li a:hover span,
#front_menu li a.s span{
	background-position:right bottom;
}
* html #front_menu li a,
* html #front_menu li a span{
	width:1%;
	white-space:nowrap;
	cursor:pointer;
}
* html #front_menu li a span{
	position:relative;
}

#front_menu .active a{
	background-position:left bottom;
}
#front_menu .active a span{
	background-position:right bottom;
}
#front_menu li {
	background:none;
	float:left;
	 position:relative;
}
#front_menu ul {
	width:200px;
	position:absolute;
	display:none;
	background:#FFF;
	border-left:1px solid #ACACAB;
	border-right:1px solid #ACACAB;
	border-bottom:1px solid #ACACAB;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius:5px;
}
#front_menu ul li a,
#front_menu ul li a span{
	margin:-3px -1px;
	height:auto;
	background:none;
}
#front_menu li ul a {
	width:200px;
	float:left;
	white-space:nowrap;
}
#front_menu li ul a:hover{
	text-decoration:underline;
}
#front_menu ul ul {
	top:auto;
}
#front_menu li ul ul {
	left:1em;
}
#front_menu li:hover ul ul,
#front_menu li:hover ul ul ul,
#front_menu li:hover ul ul ul ul {
	display:none;
}
blockquote{
	margin:20px 10px 10px 5px;
	border-left:4px solid #DDD;
	padding:0 5px 0 5px;
	text-align:justify;
}
.commenttext blockquote{
	border-left:4px solid #B6B6B5;
}
.wp-caption{
	border:1px solid #ddd;
	text-align:center;
	background-color:#f3f3f3;
	padding-top:4px;
}
.gallery-caption{
	border:1px solid #ddd;
	text-align:center;
	background-color:#f3f3f3;
	padding-top:4px;
}
.wp-caption img{
	border:none;
	margin:0;
	padding:0;
}
.wp-caption p.wp-caption-text{
	font-size:11px;
	line-height:17px;
	color:#111;
	margin:0;
	padding:0 4px 5px;
}
.alignleft,
img.alignleft{
	float:left;
	margin:5px 10px 5px 0;
}
.alignright,
img.alignright{
	float:right;
	margin:5px 0 5px 10px;
}
.aligncenter,
div.aligncenter,
img.aligncenter{
	text-align:center;
	display:block;
	margin:10px auto;
}
abbr,
acronym,
span.abbr{
	cursor:help;
	border-bottom:1px dotted #000;
}
table{
	margin:.5em 0 1em;
}
table td,
table th{
	text-align:left;
	border-right:1px solid #fff;
	padding:.9em .8em;
}
table th{
	background-color:#eee;
	text-transform:uppercase;
	font-weight:bold;
	border-bottom:1px solid #e8e1c8;
}
table td{
	background-color:#f5f5f5;
}
table th a{
	color:#d6f325;
}
table tr.even td{
	background-color:#eee;
}
table.nostyle td,
table.nostyle th,
table.nostyle tr.even td,
table.nostyle tr:hover td{
	border:0;
	background:none;
	background-color:transparent;
}
.wp_syntax{
	width:auto;
}
.wp_syntax table{
	border:0 !important;
}
.wp_syntax table td {
	border:0 !important;
}
img.wp-smiley{
	border:0px;
	vertical-align:middle;
}

/* CONTENT */
#content-body ul,
#content-body ol{
	margin:0px 0px;
	font-size:12px;
}
#content-body-full ul,
#content-body-full ol{
	margin:0px 0px;
	font-size:12px;
}
#content-body ul li{
	list-style:circle;
	margin-bottom:4px;
}
#content-body-full ul li{
	list-style:circle;
	margin-bottom:4px;
}
.hentry{
	height:auto!important;
	margin-bottom:1em;
}
.sticky h2 a{
	color:red;
}
.comm_date{
	background:transparent url(../images/date_comm_box.png) no-repeat;
	height:100px;
	width:57px;
	position:absolute;
	text-align:center;
	margin:0 0 0 -72px;
	z-index:2;
}
.only_date{
	background:transparent url(../images/data_box.png) no-repeat !important;
	height:67px !important;
}
* html .comm_date{
	margin-top:10px;
	}
*+html .comm_date{
	margin-top:10px;
}
.comm_date .data{
	margin-left:-1px;
	padding-top:10px;
	display:block;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:-1px;
}
.comm_date .nr_comm{
	padding-top:14px;
	color:#FFF;
	display:block;
	font-weight:700;
}
.comm_date .nr_comm_spot, .comm_date .dsq-comment-count{
	display:block;
	margin:0 9px 0 8px;
	padding:6px 0 5px 0;
}
.comm_date .data .j{
	font-size:24px;
	display:block;
}
.nr_comm a{
	color:#FFF;
	text-decoration:none;
}
.cat_tags{
	margin-top:10px;
	padding:8px 0 5px 15px;
	height: 15px;
}
.cat_tags ul li{
	
	width: 900px;
	
}
.cat_tags_close{
	max-height:3px;
	height:3px;
	margin-bottom:20px;
}
* html .cat_tags_close{
	margin-top:-8px;
}
*:first-child+html .cat_tags{
	padding:9px 8px 0;
	margin-bottom:-3px;
}
.cat_tags .continue{
	float:right;
	padding-right:0px;
	width:100px;
	text-align:center;
}
.cat_tags .category{
	float:left;
}
.cat_tags a,
.cat_tags .continue a{
	color:#2C2C29;
}
.cat_tags a:hover{
	color:#ACACAB;
}


/* SIDEBAR */
.content-sidebar{
	width:191px;
	display:inline-block;
	overflow:hidden;
	vertical-align:top;
}
.content-sidebar input{
	padding:3px;
	border:1px solid #E5E2E0;
	margin-bottom:2px;
}
.content-sidebar h2{
	text-decoration:none;
	color:#2C2C29;
	line-height:13px;
	 margin:8px 0 0 0 !important;
	 display:block;
	 background:#FFF url(../images/sidebar_h3.png) no-repeat;
	 height:22px;
	 width:181px;
	 font-weight:700;
	 font-size:14px;
	 padding:9px 0 0 10px;
}
.content-sidebar h2 a{
	text-decoration:none;
	color:#2C2C29;
	line-height:13px;
}
.content-sidebar ul{
	list-style:none;
	width:191px;
	padding:2px;
}
.content-sidebar li{
	list-style:none;
}
* html .content-sidebar ul{
	width:160px;
}
.content-sidebar ul li,
.content-sidebar-2 ul li{
	display:block;
	color:#9D9793;
	line-height:16px;
	padding:4px 0 4px;
	border-bottom:1px solid #EEE;
	width:185px;
}
.content-sidebar ul ul li,
.content-sidebar-2 ul ul li{
	border:0px;
	padding-bottom:0;
	width:140px;
}
.content-sidebar ul li.page_item ul li.page_item ,
 .content-sidebar ul li.cat-item ul.children li.cat-item{
	background:url(../images/arrow.gif) 0 11px no-repeat;
	padding-left:11px;
	margin-top:-3px;
}
.content-sidebar ul li.page_item ul li.page_item ul li.page_item,
 .content-sidebar ul li.cat-item ul.children li.cat-item ul.children li.cat-item{
	background:url(../images/arrow.gif) 0 11px no-repeat;
	padding-left:12px;
}
.content-sidebar ul li a:hover,
.content-sidebar .recentcomments a:hover{
	color:#AAA;
}
.content-sidebar .textwidget,
.content-sidebar select{
	padding:3px;
	margin:10px 2px 10px 2px;
	width:188px;
}
.content-sidebar .recentcomments{
	display:block;
	border-bottom:1px solid #EEE;
	color:#9D9793;
	padding:4px 0px;
	line-height:16px;
}
.content-sidebar .right {
	float:right;
	 width:91px;
	 overflow:hidden;
}
.content-sidebar .left {
	float:left;
	 width:91px;
	 overflow:hidden;
}

/* COMMENTS */
.content-body input{
	padding:3px;
	border:1px solid #E5E2E0;
	margin-bottom:2px;
}
.content-body-full input{
	padding:3px;
	border:1px solid #E5E2E0;
	margin-bottom:2px;
}
.content-body textarea{
	border:1px solid #E5E2E0;
	width:97.5%;
	height:100px;
	padding:5px;
	font: 12px Verdana;
}
.content-body-full textarea{
	border:1px solid #E5E2E0;
	width:97.5%;
	height:100px;
	padding:5px;
	font: 12px Verdana;
}
.content-body input#submit {
	width: 88px;
	height: 25px;
	border: 0px;
	background:#2C2C29 url(../images/submit_btn.png) no-repeat;
	font: bold 12px Helvetica,Georgia,serif;
	color:#FFF;
	text-align:center;
	cursor:pointer;
}
.content-body-full input#submit {
	width: 88px;
	height: 25px;
	border: 0px;
	background:#2C2C29 url(../images/submit_btn.png) no-repeat;
	font: bold 12px Helvetica,Georgia,serif;
	color:#FFF;
	text-align:center;
	cursor:pointer;
}


#search-block-form .form-submit {
	background: url("../images/search.png") no-repeat scroll center center transparent;
	border: 0 none;
	width: 25px;
	text-indent:-9999px;
	cursor:pointer;
	height:25px;
	line-height:25px;
}

#header{
	background:transparent url('../images/single-page-template/content_top.png') no-repeat;
}
#content{
	background: #FFF;
	width:769px;
}
#content-full{
	background: #FFF;
	width:769px;
}
#content-body{
	width:763px;
}
#footer{
	background:transparent url('../images/single-page-template/content_bottom.png') no-repeat;
}
.hentry{
	width:763px;
	overflow:hidden;
}
.tag_cont{	
	clear: both;
}
.tag_cont .field-label{
	padding-top:5px;
	float: left;
}
.tag_cont .field-items{
	float: left;
}
.tag_cont .field-items .field-item{
	float: left;

	
}

.comt-link{
	float: right;
	border: 2px solid red;
}
ol.commentlist{
	list-style:none;
}
ol.commentlist li{
	list-style-type:none;
	margin-bottom:0px;
	background-color: #F5F5F5;
}
ol.commentlist li ul{
	list-style-type: none;
	margin-left: 7px !important;
}
ol.commentlist li ul.children li{
	list-style:none !important;
	background-color: #FFF;
	width:100%;
	font-size:11px;
}
ol.commentlist li ul.children li ul.children li{
	background-color:#F5F5F5;
}
ol.commentlist li div.comment_content{
	float: left;
	width: 100%;
}
ol li div.comment_content div.commentmetadata{
	color: #999;
	border-bottom: 1px solid #ddd;
}
ol li div.comment_content div.commentmetadata a{
	color: #bbb;
	text-decoration: none;
}
ol li div.comment_content p{
	padding:0 0 16px 6px;
}
ol li div.comment_content .reply{
	margin:8px;
}
strong.comment_author{
	font-size:125%;
}
strong.comment_author a{
	text-decoration:underline !important;
}
a#cancel-comment-reply-link{
	text-transform:uppercase;
	font-size:80%;
	margin-left:10px;
}
li #respond{
	padding:7px;
}
li #respond h2,
li #respond h3#reply-title{
	display:none;
}
li.comment-author-admin{
	border:1px solid #BBBBBB !important;
}

.comt_box .comment{
	list-style-type:none;
	margin-bottom:10px;
	background-color: #F5F5F5;
	border: 1px solid #DDD;
	padding: 15px 10px 4px 10px;
}
.nwwrap ul.primary{
	list-style: none;
	float:right;
}
ul.primary{
	border: 0px;
}
ul.primary li{
	list-style-type: none;
	border:0px;
	background-color: #ffffff
}
.item-list ul li{
	margin-left: 0px;
}
.form-submit:hover{
	cursor: pointer;	
}
.nwwrap{
	margin-bottom: 30px;
	border-bottom: 1px solid grey;
}

.cat_box{	
	padding:0px 0 0px 0px;
	height: 25px;
	border: 1px solid #DCDCDB;
	border-radius: 4px;
}
.comt-test{
	float: right;	
	margin-top: 0px;
	margin-right: 0px;	
	
}
.comt-test ul{
	padding-top: 5px;
	height: 20px;
	background-color: #EEECEA;
	float: right;
	margin-top:15px;		
	margin-right: 0px;
	border-radius: 4px;
	padding-right: 10px;
	padding-left: 10px;
	
	
}
.comt-test ul li{
	float: right;
		
}

.post-tags .field-item {
  float:left;
  margin-right:5px;
  padding-top:4px;
  background-color: #EEECEA;
  /*background-image: -moz-linear-gradient(center top , #EEECEA, #EEECEA);*/
  background-repeat: repeat-x;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
  height:22px;
}

.post-tags{

}

.post-tags a{
	color:black;
	text-decoration: none;
	padding:0px 6px;
	font-size:15px;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height:24px;
  padding-top:4px;
} 

.post-tags .field-label {
  display:none;
}


#nav ul {
  position:relative;
  top:-4px;
}
#nav ul li a{
  text-decoration:none;
}
#nav ul.menu li {
  float: left;
  font-weight: 400;
  list-style-type: none;
  height:36px;
	display:block;
	background:url(../images/nav.png) no-repeat left top;
	padding-left:15px;color:#2C2C29;
	font: normal 13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	cursor:pointer;
}
#nav ul.menu li ul {
  padding-left:0px !important;
  top:30px !important;
}
#nav ul.menu li ul li{
  padding-left:0px !important;
}
#nav li a {
	height:36px;
	display:block;
	background:url(../images/nav.png) no-repeat right top;
	line-height:36px;
	padding-right:15px;
}
#nav ul.menu li ul li a, #nav ul li ul li {
  margin-left:-17px;font-size:13px;
  background-image:none !important;
  border:1px solid #DDDDDC;
  background-color:#ffffff;
  border-radius: 3px;
}

#nav li a .sf-sub-indicator {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
  border-top-width: 0;
  font-size: 13px;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  text-transform: none;
  width: 110px;
}
#nav li li a:hover, #nav li li a:active {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
}
#nav li ul {
  height: auto;
  left: -9999px;
  margin-bottom: 0;
  margin-left: 1px;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  width: 160px;
  z-index: 9999;
}
#nav li ul a {
  width: 160px;
}
#nav li ul ul {
  margin-bottom: 30px;
  margin-left: 160px;
  margin-right: 0;
  margin-top: 0px;
}
#nav li:hover > ul, #nav li.sfHover ul {
  left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
  list-style-image: none !important;
  list-style-position: outside;
  list-style-type: none;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
#nav li li a , #nav li li a:link{
  color:#807D7A;
}
#nav ul.menu li ul.menu li a.active {
  color:#000000 !important;
}
#nav li li a:hover,
#nav li li a:active {
  background: #292929;
  color:#000000 !important;
}
